@charset "UTF-8";

body {
    min-height: 100vh;
    background: linear-gradient(var(--bs-body-bg) 0%, #263C3A 100%);
}

.skeleton.active {
    background: linear-gradient(135deg, rgba(var(--bs-body-color-rgb), 0.5) 25%, rgba(var(--bs-body-bg-rgb), 0.5) 50%, rgba(var(--bs-body-color-rgb), 0.5) 75%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
    border: 1px solid rgba(var(--bs-body-color-rgb), 0.2);
    border-radius: 0.5rem;
}

.skeleton.active * {
    display: none;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}